/*! Place your custom styles here */
.logo.logo-madrasah {
	max-height: 60px;
}

.color--madrasah {
	color: #B9D67A;
}

.text--color-madrasah-dark, 
h1.text--color-madrasah-dark {
	color: #1F4C63;
}

.bg--primary .text--color-madrasah-yellow,
.bg--dark.bg--dark-madrasah h2 .text--color-madrasah-yellow,
.bg--dark.bg--dark-madrasah:not(.nav-bar):not(.bar) span:not(.btn__text) {
	color: #F6C77E;
}

.btn--primary,
.btn--primary:visited {
	background: #4B9551;
}

.btn--primary:hover,
.btn--primary:focus {
	background: #5FA865;
	border-color: #5FA865;
}

.btn--primary-1,
.btn--primary-1:visited {
	background: #1F4C63;
}

.btn--primary-1:hover,
.btn--primary-1:focus {
	background: #2E6581;
	border-color: #2E6581;
}

.bg--primary.bg--primary-madrasah {
	background: #4B9551;
}

.bg--dark.bg--dark-madrasah {
	background: #1F4C63;
}

.logo-partner {
	max-height: 100px;
}

.program-madrasah .program-icon {
	background: #B9D67A;
}

.program-madrasah .program-icon .program-icon-asset {
	border-radius: 50%;
}
